<!--<h2 class="title">Products</h2>

<div class="search-bar">
  <input (input)="searchStream$.next($event.target.value)"> 
</div>
    
<div class="results"> 
  <h3>Built-in solution</h3>
  <div *ngIf="obs$ | async as obs">
    <ng-template [ngIf]="obs && obs.hasOwnProperty('type') && obs.type === 'finish'">
      {{ (obs | json | jsonParse).value }}
    </ng-template>
     <ng-template [ngIf]="obs && obs.hasOwnProperty('type') && obs.type === 'start'">Loading...</ng-template>  
  </div>    
 
  
  <h3>WithLoadingPipe</h3>
  <div *ngIf="obs$ | withLoading | async as obs">
    <ng-template [ngIf]="obs && obs.hasOwnProperty('value') && obs.value"> {{ (obs | json | jsonParse).value }}
    </ng-template>
    <ng-template [ngIf]="obs && obs.hasOwnProperty('loading') && obs.loading">Loading...</ng-template>
  </div>
 </div>-->

 <h2 class="title">Products</h2>

<div class="search-bar">
  <input (input)="searchStream$.next($event.target.value)"> 
</div>
    
<div class="results"> 
  <h3>Built-in solution</h3>
  <div *ngIf="obs$ | async as obs">
    <ng-template [ngIf]="obs.type === 'finish'">
      {{obs.value}}
    </ng-template>
     <ng-template [ngIf]="obs.type === 'start'">Loading...</ng-template>  
  </div>    
 
  <h3>WithLoadingPipe</h3>
  <div *ngIf="obs$ | withLoading | async as obs">
    <ng-template [ngIf]="obs.value">{{ obs.value }}
    </ng-template>
    <ng-template [ngIf]="obs.loading">Loading...</ng-template>
  </div>
 </div>
   
 

   
 